*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* This is to remove any default values from
  browser and make the code more presdictable for us */

@font-face {
font-family: 'CustomFont-Bold';
src: url('/fonts/DINWebPro-Bold.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'CustomFont-Medium';
src: url('/fonts/DINWebPro-Medium.woff') format('woff');
font-weight: normal;
font-style: normal;
}

html{
    width: 100%;
    height: 100%;
}
/* width works fine while the height is stuck at 0. 
This happens because by default, the height of an 
element like .main-container (or any block-level element) 
depends on the height of its content. Since there's no 
content inside .main-container and no specific height has 
been set, its height defaults to 0.

Additionally, using height: 100% on .main-container
doesn't work as expected because the parent element 
(body) does not have a defined height. For an element 
to take 100% height, all parent elements (including 
html and body) must also have a defined height. */

body {
    font-family: 'CustomFont-Bold', sans-serif; 
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
    outline: none;
}

a:hover{
    color: rgb(197,151,16)
}


#top-margin{
    width: 100%;
    height: 15px;
    top: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 999;
}

#bottom-margin{
    width: 100%;
    height: 15px;
    bottom: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);    
    z-index: 999;
}

#left-margin{
    height: 100%;
    width: 15px;
    left: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 999;
}

#right-margin{
    height: 100%;
    width: 15px;
    right: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 999;
}


header{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
    z-index: 999;
}


    .logo-container{
        width: 100px;
        height: 100px;
        display: flex;
        align-items: flex-end;
        margin-left: 5%;
    }

    .logo-container img{
        width: 100%;
    }


    .nav-bar-container{
        display: flex;
        height: 100%;
        padding-bottom: 10px;
        align-items: flex-end;
        margin-right: 5%;
    }

    .nav-list{
        height: 100%;
        display: flex;
        gap: 25px;
        list-style: none;
        font-size: 1.5rem;  
        letter-spacing: 2px;      
    }

    .nav-item{
        margin-left: 20;
        padding-top: 70;
        height: 100%;
        color: white;
    }
    

.main-container{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}
    
    .left-arrow-container{
        width: 30px;
        height: 60px;
        background-color: white;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        margin-left: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: 1;
    }

    .left-arrow-text{
        height: 100%;
        width: fit-content;
        background-color: white;
        color: rgb(197,151,16);
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        padding: 10px;
        z-index: -1;
        right: 0;
        opacity: 0;
    }

    .left-arrow-container:hover .left-arrow-text{
        left: 20px;
        opacity: 2;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    .right-arrow-container{
        width: 30px;
        height: 60px;
        background-color: white;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .right-arrow-text{
        height: 100%;
        width: fit-content;
        background-color: white;
        color: rgb(197,151,16);
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        padding: 10px;
        z-index: -1;
        opacity: 0;
    }

    .right-arrow-container:hover .right-arrow-text{
        right: 20px;
        opacity: 2;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    .background-container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: flex;
        justify-content: center;
    }

     

    .background-image{
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .background-image img{
        opacity: 1;
        min-height: 100%;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .background-image iframe{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
    }



    .info-container{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        gap: 20px;
        justify-self: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text-line{
        font-size: 16px;
        letter-spacing: 1px;
    }

    #text-one{        
        border-bottom: 1px solid white;
    }

    #break-one{
        display: flex;
        align-items: center;
        display: none;
    }

    .heading-line{
        font-size: 50px;
    }

    #break-two{
        display: flex;
        align-items: center;
    }

    .break-line span{
        width: 100px;
        height: 7px;
        background-color: white;        
    }

    #text-two{
        font-family: 'CustomFont-Medium';
        font-size: medium;
        letter-spacing: 2px;
        line-height: 25px;
        text-align: center;
        margin-top: 40px;
        max-width: 900px;
    }

    #text-three{
        font-family: 'CustomFont-Medium';
        font-size: medium;
        letter-spacing: 2px;
        line-height: 25px;
        text-align: center;
        margin-top: 40px;
        max-width: 900px;
    }

    #image-play{
        width: 87px;
        height: 87px;
        overflow: hidden;
    }

footer{
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 15px;
    bottom: 0;
    left: 0;
    z-index: 999;
    font-size: 16px;
    letter-spacing: 2px;
}
    .footer-container{     
        width: 100%;
        height: 100%;   
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-item{
        display: flex;
        flex: 1;
        justify-content: center;
        text-align: center;
    }


.page-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: 20px;
}

    .page-counter img{
        width: 12px;
    }

    .active-counter{
        animation: bounce 1s;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-10px);
        }
        60% {
          transform: translateY(-5px);
        }
      }



.images-gallery{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

    .image-container{
        flex: 1;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .image-text-one{
        font-size: 12px;
        border-bottom: 1px solid white;
    }

    .image-wrapper{
        width: calc(100%-50px);
        display: flex;
        margin: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        border: 1px solid white;
        z-index: 999;
    }

    .image-small{
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
        z-index: 10;
    }

    .image-small img{
        height: 100%;
        object-position: center;
        object-fit: cover;
    }

    .caption-small{
        position: absolute;
        top: 100%;
        left: 0;
        width: calc(100%-50px);
        height: 100%;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(42, 42, 51, 0.553);
        font-size: 15px;
        text-align: center;
        line-height: 20px;
        letter-spacing: 2px;
        z-index: 9999;
    }

    .image-wrapper:hover .caption-small{
        transform: translateY(-100%);
        transition: all 0.5s ease-in-out;
    }


    .image-break-line{
        border: 1px solid white;
        height: 2px;
        background-color: white;
        width: 10%;
        margin: 20px;
        margin-top: 0;
        margin-bottom: 10px;
    }

.table-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table-head ul{
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    border-bottom: 1px white solid;
    padding-bottom: 10px;
}

.table-loading{
    width: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;  
}

.table-loading img{
    height: 10px;
}